@media only screen and (max-width: 1023px) {

    .App {
        font-family: sans-serif;
        text-align: center;
        color: brown;
    }

    .titleText {
        font-size: 30px;

    }

    .titleText2 {
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        margin-top:5px;
        color: white;
        font-family: 'Nunito', sans-serif; /* Define a fonte Nunito */

    }
    .topHeader {
        margin-left:30px;
    }

    .titleOptions{
        font-size: 8px;
    }

    .ExperienceImage{
        margin-left: 15px;
        height: 210px;
        width: 700px;

    }
    .ExperienceTextDate {
        font-size: 60px;
        line-height: 29px;
    }

  .ExperienceYears {
        font-size: 20px;
      margin-bottom: -10px;

    }

    .ExperienceTextDescription{
        font-size: 10px;
        margin-right: 35px;
        margin-top:40px;

    }

    .ExperienceContactButton{
        height: 30px;
        width: 100px;
        margin-top: 40px;
    }


    .experienceFirstText{
        font-size: 50px;
        text-align: justify;

    }

    .experienceSecondText{
        font-size: 18px;
        text-align: justify;

    }

    .OurServicesTitleText{
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .OurServicesImages {
        height: 100px;
        width: 100px;
    }

    .OurServicesText{
        font-size:10px;
    }



    .WhyUsImage{
        height: 150px;
        width: 200px;


    }

    .WhyUsTitleText{
        font-size: 30px;
        margin-left: 5px;
        margin-top:60px;


    }

    .WhyUsGroupCheck{
        flex-direction: column;
        margin-top: 5px;
        gap: 15px;
        margin-bottom: 60px;
    }

    .WhyUsTextCheck{
        font-size: 10px;
        margin-left: 5px;
    }

    .WhyUsCheckPoint{
        height: 20px;
        width: 20px;
    }



}

@media only screen and (min-width: 1024px) {

    .App {
        font-family: Sathu;
        text-align: center;
        color: purple;
    }

    .topHeader {
        margin-left: 200px;
    }
    .titleOptions{
        margin-right: 200px;

        font-size: 15px;
    }


    .title{
        height: 300px;
    }

    .ExperienceImage{
        margin-left: 150px;
        width: 700px;
        height: 350px;

    }

    .ExperienceYears {
        font-size: 40px;
        margin-bottom: -20px;
        margin-left: 10px;

    }
    .ExperienceTextDescription{
        margin-right: 60px;
        font-size: 20px;
        margin-top:100px;

    }
    .ExperienceTextDate {
        font-size: 80px;
        line-height: 29px;
        margin-top:20px


    }
    .ExperienceContactButton{
        height: 50px;
        width: 200px;
        margin-top: 80px;
        font-size: 20px;
    }

    .titleText{
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
    }


    .titleText2 {
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        margin-top:20px;
        line-height: 29px;
        color: white;
        font-family: 'Nunito', sans-serif; /* Define a fonte Nunito */

    }
    .OurServicesTitleText{
        font-size: 50px;
        margin-top: 100px;
        margin-bottom: 30px;

    }

    .OurServicesImages {
        height: 240px;
        width: 240px;
    }

    .OurServicesText{
        font-size:24px;
        text-align: center;
    }

    .WhyUsLeftSide{
        margin-left: 30%;
        margin-top: 10px;

    }

    .WhyUsTitleText{
        font-size: 50px;
        margin-top:120px;
    }

    .WhyUsImage{
        height: 300px;
        width: 300px;
    }
    .WhyUsCheckPoint{
        height: 30px;
        width: 30px;

    }

    .WhyUsGroupCheck{
        margin-top: 20px;
        flex-direction: column;
        gap:50px;
        margin-bottom: 80px;
    }

    .WhyUsTextCheck{
        font-size: 15px;
        margin-left: 5px;
    }

    .AboutUsCollection{
        margin-left: 110px;
    }

    .titleText {
       font-size: 50px;

    }

    .titleSubText {

        text-align: center;
        font-size: 24px;
        width: 50%; /* Limita a largura do texto */
    }
}
